.search-section {
  margin-top: 36px;
}

.form {
  width: 371px;
  display: flex;
  gap: 8px;
  margin: 0 auto;
}

.search-input {
  border-radius: 4px;
  border: 1px solid #808080;
  width: 272px;
  height: 40px;
  outline: none;
  font: inherit;
  padding: 8px 16px;
}

.search-input:hover {
  border: 1px solid #000;
}

.search-input:active, .search-input:focus {
  border: 1px solid #4e75ff;
}

.submit-button, .load-more-button {
  font: inherit;
  font-weight: 500;
  border: 0;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
  background: #4e75ff;
  color: #fff;
  padding: 8px 16px;
}

.submit-button {
  width: 91px;
}

.load-more-button {
  width: 125px;
}

.submit-button:hover, .load-more-button:hover {
  background: #6c8cff;
}
